{% extends 'admin/base.html.twig' %}

{% block title %}Wiki - Manager{% endblock %}

{% block body %}
    {% include "/customer/shared/_messages_flash.html.twig" %}
    <div class="container py-5">
        <div class="row">

            <div class="col-4">
                <div class="card border border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des catégories</h5>
                        <a href="{{ path('admin_category_index') }}" class="btn btn-primary card-link">Liste</a>
                        <a href="{{ path('admin_category_new') }}" class="btn btn-primary card-link">Ajouter</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card border border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des produits</h5>
                        <a href="{{ path('admin_product_index') }}" class="btn btn-primary card-link">Liste</a>
                        <a href="{{ path('admin_product_new') }}" class="btn btn-primary card-link">Ajouter</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card border border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des champions</h5>
                        <a href="{{ path('admin_champion_index') }}" class="btn btn-primary card-link">Liste</a>
                        <a href="{{ path('admin_champion_new') }}" class="btn btn-primary card-link">Ajouter</a>
                    </div>
                </div>
            </div>
            

            
            <div class="col-4">
                <div class="card border border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des spells</h5>
                        <a href="{{ path('admin_spell_index') }}" class="btn btn-primary card-link">Liste</a>
                        <a href="{{ path('admin_spell_new') }}" class="btn btn-primary card-link">Ajouter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

