{% extends 'admin/base.html.twig' %}

{% block title %}Wiki - {{ champion.name }} {% endblock %}

{% block body %}
    <h1>Champion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ champion.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ champion.name }}</td>
            </tr>
            <tr>
                <th>MainImage</th>
                <td>{{ champion.mainImage }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ champion.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_champion_index') }}">back to list</a>

    <a href="{{ path('admin_champion_edit', {'id': champion.id}) }}">edit</a>

    {{ include('admin/champion/_delete_form.html.twig') }}
{% endblock %}
