{% extends 'customer/base.html.twig' %}

{% block title %}Wiki - {{ champion.name | capitalize }} {% endblock %}

{% block body %}
  
    {% include "/customer/shared/_messages_flash.html.twig" %}

    <div class="py-5 " style="margin-right: 30px; margin-left: 30px">
        <div class="d-flex justify-content-center px-xl-2">
            <div class="col-6 d-none d-xl-flex pe-xl-4 justify-content-center align-items-center h-100">
                <div class="w-100 h-100 d-flex">
                    <img src="{{ champion.mainImage }}" alt="produit" class="h-100 img-fluid mt-xl-2">
                </div>
            </div>
            <div class="col-12 col-xl-6 h-xl-50 d-flex justify-content-end mt-xl-1">
                <div class="card">
                    <div class="card-header">
                        <h3>{{ champion.name | upper }}</h3>
                    </div>
                    <div class="card-body d-flex flex-column d-lg-block">
                        <img src="{{ champion.mainImage }}" alt="produit" class="imagechampionDetail d-xl-none">
                        <div class="ms-0 ms-lg-0 px-2 px-lg-0 pt-3 d-flex justify-content-center flex-column">
                            <p><strong class="championDetails">Prix :</strong></p>
                            <p class="championDetailsParagraph"> {{ champion.price | BEFormatEuro }}</p>
                            <p><strong class="championDetails">Titre:</p></strong>
                            <p class="championDetailsParagraph"> {{ champion.title }}</p>
                            <p><strong class="championDetails">Resumer:</p></strong>
                            <p class="championDetailsParagraph">{{ champion.blurb }}</p>
                            <p><strong class="championDetails">Tags:</p></strong>
                            <p class="mt-n1 mb-xl-0 championDetailsParagraph">
                                {% for tag in champion.tags %}
                                    <strong>.</strong> {{ tag }} <br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: rgb(33,37,41);">
        <div class="col-12">
            <div class="flex-column justify-content-center align-items-center d-flex">
                {% for spell in champion.spells %}
                    <div class="card col-11 border border-radius-2 d-flex align-items-center px-4 py-2 mt-4 mx-lg-2 mb-5 bg-transparent champProf spell-box">
                        <h5 class="my-4 text-center" style="color: white;">{{ spell.name }}</h5>
                        <img src="{{ spell.spellImage }}" alt="spellImage: {{ spell.name }}" class="spell-Icon mb-4">
                        <p class="text-start mt-2" style="color: white;">{{ spell.resume }}<p>
                    </div>
                {% endfor %}>
            </div>
        </div>
    </div>
{% endblock %}