{% extends 'customer/base.html.twig' %}

{% block title %}Wiki - Les champions {% endblock %}

{% block body %}
<div class="container py-lg-5 py-4">
    <div class="row">
        <div class="col-12 pb-lg-5 pb-3">
            <h3 class="text-center">Les Champions</h3>
        </div>
        <div class="navigation d-flex justify-content-center p-1" id="pagination">
            {{ knp_pagination_render(champions) }}
        </div>
        {% for champion in champions %}
            <div class="col-6 col-lg-4 p-1">
                <div class="card">
                    <div class="card-header">
                        <h5>{{ champion.name }}</h5>
                    </div>
                    <div class="card-body">
                        <img src="{{ champion.mainImage }}" alt="" class="w-100 imageCard">
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('customer_champion_show',{ 'id' : champion.id }) }}" class="btn btn-secondary w-100">Consulter</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="navigation mt-4 d-flex justify-content-center p-1">
            {{ knp_pagination_render(champions) }}
        </div>
    </div>

{% endblock %}