{% extends "customer/base.html.twig" %}

{% block title %}Wiki - Recap Commande{% endblock %}

{% block body %}

    {% include "/customer/shared/_messages_flash.html.twig" %}
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Recapitulatif de la commande</h3>
            </div>  
            <div class="col-sm-12 col-md-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Produit</th>
                                    <th scope="col">P.U</th>
                                    <th scope="col">Qté</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for item in cart %}

                                    <tr class="d-flex align-items-between">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src=" {{ item.product.image }}" alt="{{ item.product.name }}" class="imageProductCart" style="width: 70%;">
                                                <div class="d-flex flex-column align-items-center justify-content-center">
                                                    <p>{{ item.product.name }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ item.product.price | priceFormatEuro }}</td>
                                        <td>
                                            <button class="btn btn-light">{{ item.qty }}</button>
                                        </td>
                                        <td>{{ item.total | priceFormatEuro }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th colspan="2"></th>
                                    <th><strong>Sous Total</strong></th>
                                    <th><strong>{{ totalCart | priceFormatEuro }}</strong></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('cart_detail') }}" class="btn btn-secondary">Modifier le panier</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mt-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Adresse de livraison</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success w-100 mt-3" id="buttonSubmit">Valider l'adresse et payer la commande</button>
                            <button class="btn btn-secondary" type="button" disabled id="buttonSpinner" style="display:none;">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                Redirection vers stripe en cours...
                            </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const buttonSubmit = document.getElementById('buttonSubmit');
        const buttonSpinner = document.getElementById('buttonSpinner');

        buttonSubmit.addEventListener('click', () => {
            buttonSubmit.style.display = 'none';
            buttonSpinner.style.display = 'initial';
        });
    </script>

{% endblock %}