{% extends "customer/base.html.twig" %}

{% block title %}Wiki - Recap Commande{% endblock %}

{% block body %}

    {% include "/customer/shared/_messages_flash.html.twig" %}

    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Recapitulatif de la commande</h3>
            </div>  
            <div class="col-sm-12 col-lg-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table table-hover">
                                <div class="d-flex justify-content-between ps-lg-1 ps-xl-4 pe-2 pe-xl-1 ms-2">
                                    <div>
                                        <p class="ms-md-4 ms-lg-0 ms-xl-2 mb-0 recapHeadPara">Produit</p>
                                    </div>
                                    <div class="col-6 col-xl-5 d-flex justify-content-around justify-content-xl-evenly ps-2 px-xl-2 ps-lg-3 ps-md-4">
                                        <p class="mb-0 recapHeadPara">P.U</p>
                                        <p class="mb-0 recapHeadPara">Qté</p>
                                        <p class="mb-0 recapHeadPara">Total</p>
                                    </div>
                                </div>
                                <div class="my-2 opacity-25" style="border-top: 1px solid black"></div>
                                <div>
                                        {% for item in cart %}

                                            <div class="d-flex justify-content-around flex-column">
                                                <div class="d-flex">
                                                    <div class="d-flex align-items-center col-6 col-xl-7">
                                                        <img src=" {{ item.product.image }}" alt="{{ item.product.name }}" class="imageProductCart">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <p class="mb-0 ps-2 ps-md-3 recapProductName">{{ item.product.name }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-xl-5 d-flex align-items-center justify-content-around justify-content-lg-center ms-md-2 ms-lg-1">
                                                        <p class="mb-0 recapProductPrice">{{ item.product.price | priceFormatEuro }}</p>
                                                            <button class="btn btn-light mx-lg-4">{{ item.qty }}</button>
                                                        <p class="mb-0 recapProductPrice">{{ item.total | priceFormatEuro }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                <hr>
                                <div class="d-flex justify-content-end ms-1 pe-1 pe-md-4 pe-lg-1 pe-xl-4">
                                    <th colspan="2"></th>
                                    <th><strong class="totalPrice">Sous Total</strong></th>
                                    <th><strong class="totalPrice">{{ totalCart | priceFormatEuro }}</strong></th>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center align-items-center w-100">
                        <a href="{{ path('cart_detail') }}" class="btn btn-secondary w-100">Modifier le panier</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 mt-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Adresse de livraison</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success w-100 mt-3" id="buttonSubmit">Valider l'adresse et payer la commande</button>
                            <button class="btn btn-secondary" type="button" disabled id="buttonSpinner" style="display:none;">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                Redirection vers stripe en cours...
                            </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const buttonSubmit = document.getElementById('buttonSubmit');
        const buttonSpinner = document.getElementById('buttonSpinner');

        buttonSubmit.addEventListener('click', () => {
            buttonSubmit.style.display = 'none';
            buttonSpinner.style.display = 'initial';
        });
    </script>

{% endblock %}