{% extends 'customer/base.html.twig' %}

{% block title %}Wiki - {{ category.name | capitalize }}{% endblock %}

{% block body %}
    {% include "/customer/shared/_messages_flash.html.twig" %}
    <div class="py-5">
        <div class="row d-flex align-items-center justify-content-center mx-0">
            <div class="col-12 flex-column justify-content-center">
                <h3 class="text-center">
                    {{ category.name | upper }}
                </h3>
                <div class="d-flex align-items-center justify-content-center">
                    <img src="{{ category.image }}" alt="{{category.name}} first product" class="imageCateg">
                </div>
            </div>
            {% if category.products | length > 0 %}
                <div class="col-xl-10 col-xxl-10 col-lg-10 col-md-12">
                    <div class="pt-2">
                        <div class="row d-flex align-items-center justify-content-center" id="category">
                            {% for product in category.products %}
                                <div class="col-auto card border-secondary m-3 d-flex align-items-center">
                                    <div class="card-cate card-body">
                                        <img src="{{ product.image }}" class="card-pdt " alt="{{product.name}}" id="">
                                    </div>
                                    <div class="col-12 d-flex justify-content-center align-items-center mb-2">
                                        <a href="{{ path("customer_product", {'id': product.id}) }}" alt="{{product.name}}" class="btn btn-secondary">Voir le produit</a>
                                    </div>
                                    <p class="card-footer shadow border-secondary text-center card-pdt-name">{{product.name}}</p>
							    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Il n'y a pas encore de produit ayant cette catégorie</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
