{% extends 'customer/base.html.twig' %}

{% block title %}Wiki - S'inscrire{% endblock %}

{% block body %}
    {% include "/customer/shared/_messages_flash.html.twig" %}
    <div class="container py-5">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h3>Formulaire d'inscription</h3>
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm)  }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.name) }}
                        {{ form_row(registrationForm.pseudo) }}
                        {{ form_row(registrationForm.file) }}
                        {{ form_row(registrationForm.plainPassword.first) }}                 
                        {{ form_row(registrationForm.plainPassword.second) }}
                        <div class="d-flex flex-column justify-content-start" id="CGU">
                            {{ form_row(registrationForm.agreeTerms) }}
                            <a href="{{ path("cgv") }}" class="ms-4 align-items-center text-decoration-none link-secondary" style="font-size: 13px;">Vers les CGU</a>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">
                            Valider
                        </button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}