{% extends 'admin/base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    {% include "/customer/shared/_messages_flash.html.twig" %}
    <div class="container py-5">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="{{ path('admin_home') }}" class="btn btn-secondary">Retour à la page d'accueil</a>
                    </div>
                    <h3 class="col text-center">
                        {{ category.name | upper }}
                    </h3>
                    <div class="col">
                        <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-primary ">Modifier</a>
                    </div>
                    <div class="">
                        <img src="{{ category.image }}" alt="" class="w-100 imageCateg mb-5">
                    </div>
                </div>
            </div>
            {% if category.products | length > 0 %}
                {% for product in category.products %}
                    <div class="col-4 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ product.name | upper }}</h5>
                            </div>
                            <div class="card-body">
                                <img src="{{ product.image }}" alt="" class="w-100 imageCard">
                            </div>
                            <div class="card-footer">
                                <p>Prix : {{ product.price | priceFormatEuro }}</p>
                                <p>Catégorie : {{ product.category.name }}</p>
                            </div>
                                <div class="card-footer">
                                    <a href="{{ path('admin_product_show',{ 'id' : product.id }) }}" class="btn btn-info w-100">Consulter</a>
                                </div>
                                <a href="{{ path('admin_product_edit',{ 'id' : product.id }) }}" class="btn btn-primary w-100">Modifier</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Il n'y a pas encore de produit ayant cette catégorie</p>
                <p>Voulez-vous en ajouter ?</p>
                <div class="col-12">
                    <a href="{{ path('admin_product_index') }}" class="btn btn-primary w-100">Aller au gestionnaire de produit</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
