{% extends 'admin/base.html.twig' %}

{% block title %}Wiki - Mon Profile{% endblock %}

{%  block body %}

    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                {% if app.user.cover is same as null %}
                    <img class="w-100" style="height: 300px;object-fit: cover; border-radius: 3%"  src="https://images.ctfassets.net/23aumh6u8s0i/1gdoH4InwJOwDjKxs4d32B/d63df7a57a24db40184cf64cbdb5a3b2/symfony" alt="cover">
                {% else %}
                    <img class="w-100" style="height: 300px;object-fit: cover; border-radius: 3%"  src="{{ app.user.cover }}" alt="cover">
                {% endif %}
            </div>
            <div class="col-12 avatar">
                {% if app.user.image is same as null %}
                    <img class="avatarProfile"  src="https://cdn.discordapp.com/attachments/274268254955110400/950199610297704469/unknown.png" alt="cover">
                {% else %}
                    <img class="avatarProfile"  src="{{ app.user.image }}" alt="cover">
                {% endif %}
                <div class="col-12">
                    <p><strong>{{ app.user.pseudo }}</strong></p>
                    <p>{{ app.user.name }}</p>
                    <p>{{ app.user.email }}</p>
                </div>
                <div class="col-12 mb-3">
                    <a href="{{ path('admin_edit_profile', { 'id': app.user.id }) }}" class="btn btn-secondary">Modifier le profil</a>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}